@font-face {
  font-family: 'iconfont';  /* project id 280403 */
  src: url('//at.alicdn.com/t/font_uran8rcafyqcwhfr.eot');
  src: url('//at.alicdn.com/t/font_uran8rcafyqcwhfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_uran8rcafyqcwhfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_uran8rcafyqcwhfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_uran8rcafyqcwhfr.svg#iconfont') format('svg');
}

