*{
  padding: 0;
  margin: 0;
}

table{
  margin: 50px auto 0;
  border-collapse: collapse;
  border: none;
  text-align: center;
  border-spacing: 0;
  /*overflow: hidden;*/
}

th{
  width: 100px;
  padding: 6px;
  background-color: gray;
  border: 1px solid black;
}

td{
  width: 100px;
  padding: 6px;
  border: 1px solid lightgray;
  text-align: center;
}


.sort-arrow{
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.freezed-head{
  display: table-header-group;
  position: fixed;
  top: 0;
}

#long{
  height: 2000px;
  width: 200px;
  background-color: gray;
}